html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Inter, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f2e6e6a8; */
  height: 100px;
  height: 100vh;
}
.top-section-version {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links {
  display: flex;
  flex-direction: row;
}
.social-links a {
  color: black;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 50px;
}
.top-section img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 600;
  width: 450px;
  margin-left: 50px;
  font-size: 24px;
  margin-top: 50px;
}
.more-details-btn {
  background-color: black;
  padding: 20px;
  margin-top: 50px;
  width: 150px;
  color: white;
}
img {
  width: 100%;
}
hr {
  color: black;
  width: 80%;
  margin: 50px;
}
#about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-me-section h3 {
  margin-bottom: 30px;
}
#about-me-section p {
  width: 400px;
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5 {
  font-weight: 600;
  color: black;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}
.project {
  height: 300px;
  width: 350px;
  background-color: aliceblue;
  margin: 50px;
}
.project img {
  width: 350px;
  height: 300px;
}

.projects-section > div > p {
  margin-left: 50px;
  width: 400px;
}

.more-projects button {
  /* margin-left: 50%; */
  border: 2px solid white;
  border-radius: 50%;
  width: 120px;
  font-weight: 600;
  height: 120px;
}
footer {
  height: 500px;
  background-color: black;
  margin-top: 100px;
}

.footer-social-links a {
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  color: white;
  /* margin-top: 100px; */
  flex-direction: column;
  align-items: center;
}
.contact-details {
  margin-top: 150px;
  font-weight: 600;
  font-size: 22px;
  line-height: 200%;
}
.footer-name,
.footer-name a {
  color: grey;
  margin-top: 20px;
}
.projects-list {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: 600;
}
.projects-list li {
  margin-left: 20px;
}
h5 {
  text-align: center;
}
.more-projects {
  text-align: center;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 768px) {
  .top-section {
    display: flex;
    /* width: 100%;
     */
    padding-left: 20px;
    padding-right: 80px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .top-section-version {
    display: flex;
    order: 2;
    flex-direction: column;
    padding-left: 50px;
    align-items: flex-start;
  }
  .top-section img {
    order: 2;
  }
  .social-links {
    margin-right: 0;
    flex-direction: column;
  }
  .social-links a {
    margin: 0;
  }

  .top-section-version h3 {
    margin-left: 0;
    width: 20rem;
  }
  #projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .more-projects {
    text-align: center;
  }
  h5 {
    text-align: center;
    font-weight: 600;
  }
  .project {
    height: 400px;
    width: 450px;
    background-color: aliceblue;
    margin: 50px;
  }
  .project img {
    width: 450px;
    height: 400px;
  }
  .projects-list {
    display: flex;
  }
}
